<li class="todo-list__item" [ngClass]="{'todo-list__item--column': inEditMode}">
    <p class="todo-list__txt" [ngClass]="{'todo-list__txt--active': todo.completed}" [innerHTML]="todo.todo | highlight: searchKey"></p>

    <div class="todo-list__edit-btns">
        <button class="todo-list__check-btn btn btn--sm btn--circle btn--border-gray"
            [ngClass]="{'todo-list__check-btn--active': todo.completed}" (click)="onCompleteClick()">
            <i *ngIf="todo.completed" class="fas fa-check"></i>
        </button>

        <ng-container *ngIf="inEditMode">
            <button class="todo-list__remove-btn btn btn--sm btn--circle btn--border-primary-600" (click)="onDeleteClick()">
                <i class="fas fa-trash"></i>
            </button>
            <button class="todo-list__edit-btn btn btn--sm btn--circle btn--border-primary-400" (click)="editBtnClicked.emit()">
                <i class="fas fa-edit"></i>
            </button>
        </ng-container>
    </div>

</li>